@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <button class="nav-link btn btn-link" @onclick="BeginLogin">Refresh log in</button>
        <button class="nav-link btn btn-link" @onclick="BeginLogout">Log out</button>
    </Authorized>
    <NotAuthorized>
        <button class="nav-link btn btn-link" @onclick="LinkAccount">Link/unlink accounts</button>
        <button class="nav-link btn btn-link" @onclick="BeginLogin">Log in</button>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginLogin(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/login");
    }

    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    private void LinkAccount(MouseEventArgs args)
    {
        //not supported in a proper way atm.
        Navigation.NavigateTo("https://xpiritinsurance.b2clogin.com/xpiritinsurance.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1A_ACCOUNTLINK_EXTENSIONS&client_id=e280fc38-2898-4fad-baaf-fbeb1d306bd1&nonce=defaultNonce&redirect_uri=https%3A%2F%2Flocalhost%3A7150%2Fauthentication%2Flogin-callback&scope=openid%20https%3A%2F%2Fxpiritinsurance.onmicrosoft.com%2F3b551417-548e-4e8e-80c3-44bb06f3aa64%2FAPI.Access&response_type=code&prompt=login&code_challenge=YTFjNjI1OWYzMzA3MTI4ZDY2Njg5M2RkNmVjNDE5YmEyZGRhOGYyM2IzNjdmZWFhMTQ1ODg3NDcxY2Nl&code_challenge_method=S256");
    }
}
