@page "/quotes"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using XpiritInsurance.Sales.Client.Models
@using System.IdentityModel.Tokens.Jwt;

@attribute [Authorize]
@inject HttpClient Http
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime

<h1>Quotes</h1>

<div class="contentDiv">
    <MudSimpleTable Style="overflow-x: auto;" Hover="true" Striped="true">
        <thead>
            <tr>
                <th>Insurance Type</th>
                <th>Amount per mont</th>
                <th>Quote</th>
                <th>Buy</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var quote in _quotes)
            {
                <tr>
                    <td>@quote.Key</td>
                    <td>@quote.Value</td>
                    @if (TryGetInsurance(quote.Key) == null)
                    {
                        <td><MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary" @onclick="() => GetQuote(quote.Key)">Get quote</MudButton></td>
                        <td><MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary" @onclick="() => Buy(quote.Key)">Buy this</MudButton></td>
                    }
                    else
                    {
                        <td>Insured for @(GetInsuranceMonthlyDue(quote.Key))€ per month</td>
                    }
                </tr>
            }
        </tbody>
    </MudSimpleTable>
</div>

@if (_isLoading)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}

@code {
    private List<Insurance> _insurances = new();
    private Dictionary<string, decimal?> _quotes = new();
    private bool _isLoading = false;
    
    protected override Task OnInitializedAsync()
    {
        return LoadData();
    }

    private async Task LoadData()
    {
        _isLoading = true;

        _quotes.Clear();
        foreach (var insuranceType in Enum.GetNames(typeof(InsuranceType)))
        {
            _quotes.Add(insuranceType, null);
        }
        try
        {

            var data = await Http.GetFromJsonAsync<IEnumerable<Insurance>>("insurance");
            if (data != null)
            {
                _insurances.Clear();
                _insurances.AddRange(data);
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Fetching insurances failed: {ex.Message}", Severity.Warning);
        }
        finally
        {
            _isLoading = false;
        }
    }

    private Insurance? TryGetInsurance(string insuranceType)
    {
        var it = (InsuranceType)Enum.Parse(typeof(InsuranceType), insuranceType);
        return _insurances.SingleOrDefault(dc => dc.InsuranceType == it);
    }

    private decimal GetInsuranceMonthlyDue(string insuranceType)
    {
        var it = (InsuranceType)Enum.Parse(typeof(InsuranceType), insuranceType);
        var existing = _insurances.Single(dc => dc.InsuranceType == it);
        return existing.AmountPerMonth;
    }

    private async Task GetQuote(string insuranceType)
    {
        try
        {
            _isLoading = true;

            var quote = await Http.GetFromJsonAsync<Quote>($"insurance/quote?insuranceType={insuranceType}");
            if (quote != null) _quotes[insuranceType] = quote.AmountPerMonth;
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Get quote failed: {ex.Message}", Severity.Warning);
        }
        finally
        {
            _isLoading = false;
        }
    }

    private async Task Buy(string insuranceType)
    {
        try
        {
            _isLoading = true;

            var it = (InsuranceType)Enum.Parse(typeof(InsuranceType), insuranceType);
            if (_quotes.TryGetValue(insuranceType, out var amount) && amount.HasValue)
            {
                var response = await Http.PostAsJsonAsync<Quote>($"insurance", new Quote("", it, amount.Value));
                response.EnsureSuccessStatusCode();
                Snackbar.Add($"Bought {insuranceType} insurance for {amount.Value}€ per month.", Severity.Info);

                //refresh list
                await LoadData();
            }
            else
            {
                Snackbar.Add("Get a quote first!", Severity.Error);
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Buy insurance failed: {ex.Message}", Severity.Warning);
        }
        finally
        {
            _isLoading = false;
        }
    }

}